model:
    encoder: resnet50 # resnet 18 and resnet34 are not supported with fpn
    decoder: fpn
    pretrained_path: /home/sumche/results

tasks:
    semantic:
        out_channels: 19
        loss: cross_entropy2d
        loss_weight: 1.0
        type: long
        metric: classification_metrics
        postproc: argmax
    disparity:
        out_channels: 1
        loss: mae_loss
        loss_weight: 1.0
        type: float
        metric: regression_metrics
        postproc: None
    instance:
        out_channels: 2
        loss: instance_loss
        loss_weight: 0.3
        type: float
        metric: None
        postproc: None
        
        
data:
    dataset: Cityscapes
    root_path: /home/sumche/datasets/Cityscapes
    im_size: &im_size 256
    random_scaling: &random_scaling !!python/tuple [0.5, 1.0]
    val_im_size: &val_im_size 512
    transforms:
        train:
            input:
                Resize:
                    flag: True
                    size: *im_size
                RandomScale: 
                    flag: False
                    scale: *random_scaling        
                RandomCrop: 
                    flag: False
                    size: *im_size
                ColorJitter: 
                    flag: True
                    brightness: 0.25
                    contrast: 0.25
                    saturation: 0.25 
                    hue: 0.25
                ToTensor:
                    flag: True
                Normalize:
                    flag: True
                    mean: [0.485, 0.456, 0.406]
                    std:  [0.229, 0.224, 0.225]
            target:
                Resize:
                    flag: True
                    size: *im_size
                RandomScale: 
                    flag: False
                    scale: *random_scaling        
                RandomCrop: 
                    flag: False
                    size: *im_size
                ToTensor:
                    flag: True
        val:
            input:
                Resize:
                    flag: True
                    size: *val_im_size
                ToTensor:
                    flag: True
            target:
                Resize:
                    flag: True
                    size: *val_im_size
                ToTensor:
                    flag: True
                    
params:
    batchsize: &batch_size 2
    n_workers: &n_workers 8
    print_interval: 50
    resume: True
    early_stop: True
    patience: 25
    epochs: 100
    train:
        batch_size: *batch_size
        shuffle: True
        n_workers: *n_workers
        optimizer:
            name: adam
            lr: 1.0e-4
    val:
        batch_size: 4
        shuffle: False
        n_workers: *n_workers

