model:
    encoder: resnet34 # resnet 18 and resnet34 are not supported with fpn
    decoder: fcn
    pretrained_path: /home/sumche/results
    im_size: &im_size 256
    val_im_size: &val_im_size 1024

tasks:
    semantic:
        out_channels: 19
        loss: 'cross_entropy2d'
        metric: None
        type: 'long'
    #disparity:
    #    out_channels: 1
    #    loss: 'mae_loss'
    #    metric: None
    #    type: 'float'
        
data:
    dataset: Cityscapes
    root_path: /home/sumche/datasets/Cityscapes
    transforms:
        train:
            input:
                Resize:
                    flag: True
                    size: *im_size
                RandomScale: 
                    flag: False
                    scale: !!python/tuple [0.5, 1.0]        
                RandomCrop: 
                    flag: False
                    size: *im_size
                ColorJitter: 
                    flag: True
                    brightness: 0.25
                    contrast: 0.25
                    saturation: 0.25 
                    hue: 0.25
                ToTensor:
                    flag: True
                Normalize:
                    flag: True
                    mean: [0.485, 0.456, 0.406]
                    std:  [0.229, 0.224, 0.225]
            target:
                Resize:
                    flag: True
                    size: *im_size
                RandomScale: 
                    flag: False
                    scale: !!python/tuple [0.5, 2.0]        
                RandomCrop: 
                    flag: False
                    size: *im_size
                ToTensor:
                    flag: True
        val:
            input:
                Resize:
                    flag: True
                    size: *val_im_size
                ToTensor:
                    flag: True
            target:
                Resize:
                    flag: True
                    size: *val_im_size
                ToTensor:
                    flag: True
                    
params:
    train:
        epochs: 100
        batch_size: 2
        shuffle: True
        n_workers: 8
        print_interval: 5
        optimizer:
            name: 'adam'
            lr: 1.0e-4
        resume: True
        early_stop: True
        patience: True
    val:
        batch_size: 4
        shuffle: False
        n_workers: 8

