base: configs/base_panoptic_seg.yml
experiment_name: panoptic_seg_semantic_with_instance
model:
  arch: encoder_decoder # Shared encoder and independent decoders
  encoder: resnet50
  decoder: fpn #fpn or DeepLabv3
  pretrained_path: /home/sumche/results
  loss_fn: fixed # fixed, uncertainty etc
  outputs:
    semantic_with_instance:
      active: &semantic_with_instance True
      out_channels: 20
      loss: dualityceloss
      loss_weight: 1.0
      metric: dual_classification_metrics
      postproc: semantic_with_instance
