model:
    arch: encoder_decoder # Shared encoder and independent decoders
    encoder: efficientnet_b0 # resnet 18 and resnet34 are not supported with fpn
    decoder: fpn
    pretrained_path: /home/sumche/results
    loss_fn: uncertainty # fixed, uncertainty etc
    outputs: 
        semantic: 
            active: True
            out_channels: 19
            loss: cross_entropy2d
            loss_weight: 1.0
            metric: classification_metrics
            postproc: argmax
        instance_contour:
            active: True
            out_channels: 1
            loss: l1
            loss_weight: 1.0
            metric: None
            postproc: None
        instance_regression: 
            active: False
            out_channels: 2
            loss: l1
            loss_weight: 1.0
            metric: None
            postproc: None
        instance_heatmap:
            active: False
            out_channels: 1
            loss: l1
            loss_weight: 1.0
            metric: None
            postproc: None
        instance_probs:
            active: False
            out_channels: 2
            loss: cross_entropy2d
            loss_weight: 1.0
            metric: classification_metrics
            postproc: argmax

tasks: # for dataloaders
    semantic:
        active: True
        type: long
    instance:
        active: True
        type: float
        
data:
    dataset: Cityscapes
    root_path: /home/sumche/datasets/Cityscapes
    im_size: &im_size 512
    random_scaling: &random_scaling !!python/tuple [0.5, 1.0]
    val_im_size: &val_im_size 1024
    transforms:
        train:
            input:
                RandomScale: 
                    flag: False
                    scale: *random_scaling        
                RandomCrop: 
                    flag: True
                    size: *im_size
                ColorJitter: 
                    flag: False
                    brightness: 0.25
                    contrast: 0.25
                    saturation: 0.25 
                    hue: 0.25
                Resize:
                    flag: False
                    size: *im_size
                ToTensor:
                    flag: True
                Normalize:
                    flag: False
                    mean: [0.485, 0.456, 0.406]
                    std:  [0.229, 0.224, 0.225]
            target:
                RandomScale: 
                    flag: False
                    scale: *random_scaling        
                RandomCrop: 
                    flag: True
                    size: *im_size
                Resize:
                    flag: False
                    size: *im_size
                ToTensor:
                    flag: True
        val:
            input:
                Resize:
                    flag: True
                    size: *val_im_size
                RandomCrop: 
                    flag: False
                    size: *im_size
                ToTensor:
                    flag: True
                Normalize:
                    flag: False
                    mean: [0.485, 0.456, 0.406]
                    std:  [0.229, 0.224, 0.225]
            target:
                Resize:
                    flag: True
                    size: *val_im_size
                RandomCrop: 
                    flag: False
                    size: *im_size
                ToTensor:
                    flag: True
                    
params:
    savelogs: True
    batchsize: &batch_size 6
    n_workers: &n_workers 8
    multigpu: True
    gpu_id: 0
    print_interval: 50
    resume: True
    early_stop: True
    patience: 25
    epochs: 100
    train:
        batch_size: *batch_size
        shuffle: True
        n_workers: *n_workers
        optimizer:
            name: adam
            lr: 1.0e-3
            amsgrad: True
            weight_decay: 1.0e-4
    val:
        batch_size: *batch_size
        shuffle: True
        n_workers: *n_workers

